* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --text-white: #fff;
    --bg-color: #fff;
    --text-color: #050505;
    --icon-bg-color: #f5f5f5;
    --icon-color: #414141;
    --search-bg: #868e99 1a;
    --active-color: #000 0a;
    --border-color: #e5e5e5;
    --message-icon-color: #09f;
    --fd-message-bg: #e5e5e5;
    --my-message-bg: #0084ff;
    --my-message-color: #fff;
    --fd-message-color: #050505;
    --image-border-color: #9b9999;
    --active-icon-color: #5ad539;
    --hover-color: #bcbcc0 91;
}
body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
}
.messenger.theme {
    background-color: #000;
    --text-color: #fff;
    --bg-color: #141b2b f0;
    --border-color: #213156 bf;
    --icon-bg-color: #0a0a13 57;
    --active-color: #2b3355 91;
    --hover-color: #323a5c 91;
    --fd-message-bg: #28324e d9;
    --my-message-bg: #28324e d9;
    --search-bg: #151625 59;
    --text-white: #fff;
    --text-dark: #404040;
    --icon-color: #fff;
    --message-icon-color: #fff;
    --my-message-color: #fff;
    --fd-message-color: #fff;
    --active-icon-color: #5ad539;
    --image-border-color: #fff;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
